.git
.gitignore
.env
*.md
__pycache__/
*.pyc
*.pyo
.venv/
venv/
logs/*
!logs/.gitkeep
.pytest_cache/
.mypy_cache/
*.egg-info/
node_modules
dist
.venv
*.egg-info
*.sqlite3
__pycache__
*.py[cod]
venv/
/.idea
/.vscode
